*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #a28089;
    /* background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
     */
     background: #c94b4b;  /* fallback for old browsers */
     background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);  /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right, #4b134f, #c94b4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     
    
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}
#main{
    margin-bottom: 10px;
    font-family: monospace;
    /* font-size: 20px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.main{
   
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 2px solid pink; */
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}

.div{
    height: 350px;
    width: 550px;
    /* border: 2px solid red; */
    background-image: url('https://wallpaperaccess.com/full/9312834.png');
    /* background-position: center; */
    background-size: cover;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.dis{
    height: 350px;
    width: 550px;
    /* border: 2px solid whitesmoke; */
    background-color: #ffea00;
    padding: 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.dis h3 ,h5,h6 , p{
    color: #005eb8;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-family: monospace;
    
   
}


.dis p{
    font-size: 1.7rem;

}

button{
    margin-top: 10px;
    border: none;
    outline: 0;
    width: 250px;
    height: 70px;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

button:active{
    background-color: cadetblue;
    scale: 0.97;
}